body {
  font-family: 'Helvetica';
}


a {
  display:  inline-block;
  padding: 1.5vh 1.5vw;
  color: black;
  margin: 3px;
}



li {
  display: inline;

}

p {
  font-family: 'Helvetica';
  font-size: .8em;
  font-weight: 1rem;

}

h6 {
  font-family: 'Helvetica';
  font-size: 1rem;
  font-weight: 1rem;

}

ul {
  list-style-type: none;
  margin: 16px;
  padding: 0px;
  background: linear-gradient(90deg,#FFC832,#FEE7A8);
  border: 1px solid black;
  border-radius: 10px ;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0px auto;
  width: 85vw;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

a:hover .dropdown-content,a:active .dropdown-content,a:focus .dropdown-content {
  display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  min-width: fit-content;
  text-indent: 3%;
}


.wrapper > h1 {
  flex: 1 1 150px;
}

.text-content {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 10px ;
  background: floralwhite;
  padding: 2vh 1.5vw;
}

.dropdown-item {
  padding: 1vh;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: dimgray;
}

